
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> <!-- set automatically, see soupault.toml --> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Tate McCartney" />
    <meta name="description" content="Tate McCartney" />
    <meta
      name="keywords"
      content="personal, portfolio, website, tate, mccartney, Tate McCartney, engineer"
    />
    <meta name="robots" content="index, follow" />

    <link rel="stylesheet" href="/css/katex.css"/>

    <link rel="stylesheet" href="/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)"/>

    <link rel="stylesheet" href="/css/highlight.css">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
  </head>
  <body>
    <main>
    </main>
  </body>
</html>
